* {
  padding: none;
  margin: none;
  outline: none;
  font-family: 'Mooli', sans-serif;
}

.container {
  display: grid;
  justify-items: center;
}

.heading {
  font-size: 50px;
  text-align: center;
}

td {
  border: 2px black solid;
  height: 17vh;
  width: 17vh;
  font-size: 120px;
  font-family: 'Montserrat', 'Mooli', sans-serif;
}
